.bg-header {
    width: 100%;
    min-height:250px;
    position: absolute;
    background-color: #444955;
    color: #fff;
}

.main-wrapper {
    padding-top: 180px;
}

.header-logo {
    width: 86px;
    height: 96px;
}

.header-wrapper {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.sidebar-wrapper {
    padding-top: 100px;
}

.title {
    border-left: 8px solid #2980b9;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
}

div.linkbox {
    position: relative;
    width: auto;
    height: auto;
    background: transparent;
    color: #000;
}

div.linkbox:hover {
    cursor: hand;
    cursor: pointer;
    opacity: .9;
}

a.linkbox-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 10;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
}

.linkbox .linkbox-icon {
    width: 150px;
    height: 150px;
}

.linkbox .linkbox-icon-sm {
    width: 42px;
    height: 42px;
}